data_sorce_demo/data_sorce_demo.iml
data_sorce_demo/.idea/
data_sorce_demo/target/classes/Flightradar24DataRowParcer$.class
data_sorce_demo/target/
magistr_work/magistr_work.iml
magistr_work/.idea/
magistr_work/target/
KURSACH/.gitignore
KURSACH/kursach.iml
KURSACH/README.md
KURSACH/.idea/
KURSACH/program/.idea/
KURSACH/program/streaming/target/classes/app/AppProperties$.class
KURSACH/program/streaming/target/
KURSACH/target/
*.iml
*.jpeg
